.overview {
    width: 100%;
    min-height: 125vh;
    padding: 60px 4vw;
        border-bottom-width: 0px;
    border-color: var(--token-a253b60a-3016-4045-8750-eb07a8b9bcd0, #252525);
    border-left-width: 0px;
    border-right-width: 0px;
    border-style: solid;
    border-top-width: 1px;
    display: flex;
    gap: 40px;
    align-items: flex-start;background-color: var(--token-d78b08d4-654b-4fe1-9fc3-71529c9fe307, #f1f0ee);
}

/* LEFT LABEL */
.first-contents {
    width: 15%;
}
.first-contents h4 {
    font-size: 0.88em;
    font-family: 'montreal';
    text-transform: uppercase;
    color: #252525;
}

/* TEXT SECTIONS */
.right-contents {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 200px;
    padding-bottom: 200px;
}

.framer-col {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: #252525;
}

.framer-col-h2 {
    font-size: clamp(50px, 8vw, 128px);
    font-family: thermal;
    font-weight: 400;
    letter-spacing: -0.06em;
    line-height: 80%;
}

.framer-col-p {
    font-family: montseret;
    font-size: clamp(14px, 1.4vw, 18px);
    max-width: 420px;
    font-weight: 600;
    line-height: 120%;
}


.image-contents {
    width: 35%;
    position: relative;
   

}


.imgs {
    width: 100%;
  height: 390px;
    max-width: 420px;
    border-radius: 12px;

    position: sticky;
    clip-path: polygon(0% 100%, 100% 100%, 100% 100%, 0% 100%);
    transform: translateY(30px); 
}

/* RESPONSIVE (Tablet) */
@media (max-width: 900px) {
    .overview {
        flex-direction: column;
        gap: 80px;
    }

    .first-contents {
        width: 100%;
    }

    .right-contents {
        width: 100%;
        gap: 160px;
    }

    .image-contents {
        position: relative;
        width: 100%;
        margin-top: 40px;
        top: 0;
        height: 400px;
    }

    .imgs {
        max-width: 100%;
        height: auto;
    }
    .image-contents{
    display: none;
}
}


@media (max-width: 600px) {
    .framer-col-h2 {
        font-size: clamp(40px, 12vw, 70px);
    }

   
}
