




.card-music{
      display: flex;
    gap: 12px;
    padding: 14px;
    border-radius: 12px;
    background: #f2f2f2;
    width: 350px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
        right: 20px;
    top: 10px;
 
    position: absolute;
}



.card-music img{
    width: 80px;
    height: 80px;
    border-radius: 8px;
    object-fit: cover;
}
.info{
    display: flex;flex-direction: column;
}
  .nowPlaying{
    margin: 0;
    font-weight: bold;
    color: #555;
    font-size: 12px;
  }

.title{
    margin: 4px 0;
    font-size: 12px;
    font-weight: 600;
}
 .artist{
    margin: 0 0 10px 0;
    font-size: 12px;
    color: #666;
 }

.im{
    position: relative;
}
.player-control{
       position: absolute;
    left: 36%;
    top: 33%;
}

@media (max-width:1200px){
    .card-music{
        top: 50%;
        left: 0;width: 300px;
    }
    .card-music img{
        width: 60px;height: 60px;
    }
}

@media (max-width:768px) {
    .card-music {
        top: 50%;
        left: 10%;
        width: 250px;
    }

    .nowPlaying,.title,.artist{
        font-size: 10px;
    }

}