.project-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 4rem;
}

.project-card {
  text-decoration: none;
  color: #222;
}

.image-wrapper {
  position: relative;
  border-radius: 18px;
  overflow: hidden;
}

.image-wrapper img {
  width: 100%;
  height: auto;
  display: block;
}

.coming-tag {
  position: absolute;
  bottom: 20px;
  left: 20px;
  background: rgba(120, 120, 120, 0.4);
  padding: 6px 16px;
  border-radius: 25px;
  color: white;
  backdrop-filter: blur(10px);
  font-size: 14px;
}


@media (max-width:1200px) {
  .project-grid{
            gap: 80px 120px;
        grid-template-columns: repeat(2, minmax(1px, 1fr));
  }
}