.hero-section {
    width: 100%;
    position: relative;
    min-height: 100vh;

}

.hero-row {
    display: flex;
    width: 100%;
   

    flex-direction: column;
 gap: 412px;
}

.hero-headline {
    width: 100%;padding: 0 3px;

}

.fh {
    word-break: break-word;
    word-wrap: break-word;
    z-index: 0;
    flex: none;
    white-space: nowrap;
    width: 100%;
    height: auto;
    position: relative;
    overflow: visible;
}

.fh h1 {


    font-size: 180px;
    font-style: normal;
    font-variation-settings: normal;
    font-weight: 400;
    letter-spacing: -.0675em;
    line-height: 80%;
    font-family: thermal;
    text-align: left;
    color: var(--token-a253b60a-3016-4045-8750-eb07a8b9bcd0, #252525);
    text-decoration: none;

    stroke-width: initial;
    text-transform: uppercase;
    text-wrap: balance;
}


.music-playground {
    position: absolute;
    background-color: #fff;
    top: 2%;


    right: 1%;

    backdrop-filter: blur(24px);
    background-color: #E5E5E4;
    max-width: 100%;
    border-radius: 8px;
    opacity: 1;


    display: flex;

    gap: 0.94em;

    overflow: hidden;
    padding: 10px;

    width: 320px;
    will-change: var(--framer-will-change-override, transform);
}

.music-contents {
    flex-direction: column;
    display: flex;
    justify-content: space-between;
}

.music-img {

    border-radius: 4px;
    opacity: 1;

    place-content: center;
    align-items: center;
    display: flex;
    flex: 0 0 auto;
    flex-flow: row;
    gap: 0px;
    height: min-content;
    overflow: hidden;
    padding: 0px;
    position: relative;
    width: 72px;
    will-change: var(--framer-will-change-override, transform);
}

.music-playground h4 {


    font-family: "PP Neue Montreal Mono Medium", "PP Neue Montreal Mono Medium Placeholder", monospace;
    font-size: 12px;
    line-height: 100%;
    font-weight: 900;
    text-align: left;
    color: var(--extracted-1eung3n, var(--token-a253b60a-3016-4045-8750-eb07a8b9bcd0, rgb(37, 37, 37)));
    text-transform: uppercase;
}

.hero-banner {
    width: 100%;display: flex;gap: 1em;
   padding: 10px;

}

.banner{
    flex: 1;display: flex;gap: 6px;
  text-transform: uppercase;
}


.banner h4{
    font-family: "PP Neue Montreal Mono Medium", "PP Neue Montreal Mono Medium Placeholder", monospace;
white-space: nowrap;
    font-size: 14px;
    font-style: normal;
font-variation-settings: normal;
    font-weight: 900;
    letter-spacing: 0em;
    line-height: 115%;

}
.b1lists{
    display: flex;gap: 1em;
}
.b2{
      display: flex;gap:0.3em;
}
.btimes{align-items: end;
    flex-direction: column;
}
.b2round {
 
    width: 10px;
    height: 10px;
    border-radius: 50%;
   opacity: 1;position: relative;
   top: 3px;
    margin-right: 4px;
    transition: opacity;
        opacity: 0;

    animation: pulse 1.2s  infinite;
}

.b2round.green {
    background-color: rgb(95, 227, 124);
}

.b2round.red {
    background-color: #FE5E4F;
}



@keyframes pulse {
    0% {

        opacity: 0;
    }

    100% {

        opacity: 18;
    }
}



.bround{
    aspect-ratio: 1;
    height: var(--framer-aspect-ratio-supported, 10px);
    flex: none;
    width: 10px;top: 3px;
    position: relative;border-radius: 50%;
    overflow: visible;background-color: black;
}

.fldrcolumn{
    display: flex;gap: 5px;
}

@media (max-width:1200px) {
    .fh h1{
        font-size: 140px;
    }
    .b1lists{
        display: none;
    }.hero-section{
        min-height: 90vh;
    }
      .banner h4{
    font-size: 14px;
  }
  .hero-row{
    gap: 320px;
}
}
@media (max-width:768px) {
    .fh h1{
        font-size: 72px;
    }
    .btimes{
        display: none;
    }
  .fldr{
    flex-direction: column;
  }
  .banner h4{
    font-size: 13px;
  }
.hero-section{
        min-height: 75vh;
    }
  

}