.main-animator{
    width: 100%;
min-height: min-content;
   
}
.product-name{
    padding: 8rem 2rem 4rem;
 
}
.infoof-product a{font-size: 1em;
    font-family: ndot;color: #252525;
}
.product-name h4{
        font-family: 'thermal';font-weight: 400;
    letter-spacing: -.0675em;
    line-height: 80%;
        font-size: clamp(5rem,8.75vw,10rem);
}
.infoof-product{
    padding: 2rem;
    display: flex;gap: 2rem;
    flex-wrap: wrap;
    justify-content: flex-end;
}
.infoof-product p{
    width: 100%;font-family: 'montseret';
    max-width: 700px;
    font-size: 1rem;
    line-height: 1.6;
}
.section-spacer{
    padding: 2rem;
    margin-top: 8rem;
}
.img-containers{
     position: relative;
          flex: 1;
          min-width: 250px;
          aspect-ratio: 4/5;
          overflow: hidden;
          background: #f0f0f0;
}
.img-containers:nth-child(1){
   aspect-ratio: 3 / 2; 
}

.rows{
    display: flex;
    gap: 2em;
    flex-wrap: wrap;
}
.masks{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}



@media (max-width:1200px) {
    .product-name{
    padding: 6rem 1rem 3rem;
 
}
.section-spacer{
    padding: 2rem;
    margin-top: 6rem;
}
}
@media (max-width:1200px) {
    .product-name{
    padding: 5rem 1rem 2rem;
 
}
.section-spacer{
    padding: 1rem;
    margin-top: 2rem;
}
}
@media (max-width:768px) {
.infoof-product{
    flex-direction: column;padding: 1em;gap: 1.3em;
}
.infoof-product p,.infoof-product a{
    font-size: 0.82em;
}
}