header {
    width: 100%;
    height: 15vh;
    position: fixed;
    z-index: 999;
    top: 85%;user-select: none;
    display: flex;

    justify-content: center;
    align-items: center;
}

nav {
    display: flex;
    border-radius: 50px;
    width: 320px;
    height: 48px;
    z-index: 999;
    display: flex;
    padding: 1vw 1vw;
    justify-content: space-between;
    align-items: center;
    backdrop-filter: blur(30px);
    background-color: rgba(191, 191, 191, 0.45);
}

.staricons {
    display: flex;
    gap: 5px;
}

.menu {
    color: #252525;
font-family: ndot;font-size: 14px;
    text-transform: uppercase;
    font-weight: 300;
}

.menu-overlay {
    backdrop-filter: blur(30px);
    background-color: rgba(0, 0, 0, 0.25);
    transform: none;
    transform-origin: 50% 50% 0px;
    overflow: hidden;
    top: 0;
    display: none;
    justify-content: center;
    align-items: center;
    opacity: 0;
    position: fixed;
    width: 100%;
}

header a{
    text-decoration: none;color: #252525;font-family: ndot;
}
.manubar {
    max-width:560px;
    padding: 8px;font-size: 14px;
    display: grid;
    background-color: #bfbfbf40;
    grid-template-rows: repeat(2, min-content);
    gap: 1em;
    grid-template-columns: repeat(2, minmax(1px, 1fr));
width: 100%;
    position: fixed;border-radius: 8px;
    top: 35%;
}

.menucol {
    width: 268px;display: flex;cursor: pointer;
    justify-content: center;text-transform: uppercase;
    align-items: center;font-size: 14px;
    height: 160px;color: #252525;
    background-color: #F1F0EE;border-radius: 8px;
}
    .menucol h4{
        font-size: 14px;
    }
@media (max-width:768px) {
    nav {
        width: 100%;
        max-width: 300px;
        padding: 1vw 3vw;
    }
    .menucol{
          height: 80px;
        width: auto;
    }
    .manubar{
        max-width: 400px;top: 55%;
    }
    .menu{
        font-size: 0.80em;
    }
    .menucol h4{
        font-size: 12px;
    }

}