footer {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #F1F0EE;
}

.footer-head h2 {
    font-style: normal;

    font-weight: 100;
    letter-spacing: 0em;
    line-height: 115%;

    text-align: left;
    color: var(--token-a253b60a-3016-4045-8750-eb07a8b9bcd0, #252525);

}
.footer-head h4{position: relative;
    font-weight: 100;color: #252525;
    font-size: 14px;overflow: hidden;z-index: 4;
}
.footer-head h4::after{
    content: "";
    position: absolute;
    width: 100%;background-color: #a7beb1;
    height: 100%;
    left: -100%;z-index: -2;
    bottom: 0;
    transition: all 0.3s ease;
}
.footer-head h4:hover::after{
    left: 0;
}
.footer-head {
    border-bottom-width: 0px;
    border-color: var(--token-a253b60a-3016-4045-8750-eb07a8b9bcd0, rgb(37, 37, 37));
    border-left-width: 0px;
    border-right-width: 0px;
    border-style: solid;
    border-top-width: 1px;
    display: flex;
    gap: 10px;
    width: 100%;
    height: min-content;
    padding: 10px;

    text-transform: uppercase;
}

.footer-version {
    flex: 2;
}

.footer-contacts,
.footer-mode,
.footer-social-media {
    flex: 1;
}

.footer-mode {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: end;
}

.current {
    display: flex;
    gap: 5px;
}

@media (max-width:768px) {
    .footer-head{
        flex-direction: column;
        gap: 20px;
    }
    .footer-head h4{
        font-size: 12px;
    }
    footer{
        min-height: 65vh;
        gap: 2.3em;
    }

}
.footer-main{
    padding: 10px;
}