.stickyscroller {
    width: 100%;
    min-height: 120vh;
background-color: var(--token-d78b08d4-654b-4fe1-9fc3-71529c9fe307, #f1f0ee);
    padding: 10px;
    display: flex;
    gap: 3em;
    flex-direction: column;
    z-index: 998;
    position: relative;

}

.stics {

    border-color: var(--token-a253b60a-3016-4045-8750-eb07a8b9bcd0, #252525);

    border-style: solid;
    border-top-width: 1px;
    background-color: var(--token-d78b08d4-654b-4fe1-9fc3-71529c9fe307, #f1f0ee);
    z-index: 44;

    place-content: flex-start;
    align-items: flex-start;
    gap: 10px;
    width: 100%;

    border-bottom-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;

    display: flex;
    position: relative;



    text-decoration: none;
    flex-direction: column;
}

.imageofstick {
    width: 100%;
    display: flex;
    gap: 5px;height: auto;

}

.imageofstick img {
    border-radius: 5px;
}

.content-stick {
    width: 100%;
    gap: 80px;
    display: flex;

}

.brand-category {
    display: flex;
    gap: 5px;
    justify-content: center;
}

.brand-category h4 {
    font-size: 14px;
    font-style: normal;

    font-weight: 500;
    letter-spacing: 0em;
    line-height: 115%;

    text-align: left;
    color: var(--token-a253b60a-3016-4045-8750-eb07a8b9bcd0, #252525);
    text-decoration: none;

    text-transform: uppercase;
}
.sticsh2 a{
    text-decoration: none;    color: #252525;
}
.st1{
    width: 100%;
}
.st1,.st2{
    height: 591px;
}
.sticsh2 {
    height: 60vh;

    display: flex;

    font-size: 85px;
    align-items: center;
    justify-content: center;
    font-style: normal;

    font-weight: 400;
    z-index: 99999;
    letter-spacing: -.06em;
    line-height: 80%;
    font-family: 'thermal';

    text-decoration: none;

    text-transform: uppercase;

}


.hover-btn {
  position: absolute;
  background-color: rgb(173, 190, 167);
  padding: 6px 18px;
  border-radius: 6px;
  display: flex;
  gap: 8px;
  align-items: center;

  opacity: 0;
  transform: translateY(5px);
  animation: showbtn 0.25s ease forwards;
  pointer-events: none;
}

.hover-btn span {
  color: rgb(37, 37, 37);
  font-size: 13px;
  font-weight: 600;
}

.arrow {
  font-size: 16px;
}

/* Smooth fade + slide in */
@keyframes showbtn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@media (max-width:1200px) {
    .sticsh2 {
        font-size: 69px;
        height: 45vh;
    }
}

@media (max-width:768px) {
    .sticsh2 {
        font-size: 35px;
        height: 25vh;
    }
    .scroller{
        display: flex;
        flex-direction: column;
        gap: 2em;
    }

    .st2{
        display: none;
    }
    .brand-category h4,.brand-name h4{
        font-size: 10px;
        
    }
    .st1,.st2{
    height: auto;
}.bround{
    top: 0;
}
.content-stick{
    gap: 20px;
}
}
